body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0e9;
    color: #161616;
    text-align: center;
    padding: 25px;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color:#7b7b7b
}
